@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

@theme {
  --primary-color: #901E76;
  --secondary-color: #FDF9F5;
  --accent-color: #000000CC;
}