@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

@theme {
  --primary-color: #901E76;
  --secondary-color: #FDF9F5;
  --accent-color: #000000CC;
}

/* .blog-action{
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 195.5px 50px 195.5px;
  border-radius: 10px;
  border-color: rgba(255, 0, 0, 0.028) rgba(255, 0, 0, 0.015) #fff red;
  transform: rotate(0deg);
} */