@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
p{
   font-family: "Inter", sans-serif;
}
@theme {
  --primary-color: #901E76;
  --secondary-color: #FDF9F5;
  --accent-color: #000000CC;
}

.blog-action{
  width: 100%;
  height: 100px;
  background: #4a90e2;
  border-radius: 100% 100% 0 0 / 100% 100% 0 0; /* top semicircle */
  position: absolute;
  left: 0;
  bottom: -50px; /* or top: 0; for inverted */
}

.rounded-pyramid {
  width: 100%;
  aspect-ratio: 1 / 1; /* keeps it proportional */
  background: #4a90e2;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  border-top-left-radius: 50% 40%;
  border-top-right-radius: 50% 40%;
}

.wave-div {
  height: 300px;
  /* clip-path: path("M0,200 Q250,250 500,200 L500,300 L0,300 Z"); */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 92%, 0 100%);

}
