@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

@theme {
  --primary-color: #901e76;
  --secondary-color: #fdf9f5;
  --pink-color: #901e761a;
  --accent-color: #000000cc;
  --color-green: #36e3a2;
  --another-green: #dff7eecc;
  --transparent-red: #eac4c2cc;
  --completed-color: #2f5318;
  --cancelled-color: #d1503d;
  --pending-color: #00000080;
  --pending-bg: #d9d9d9;
  --light-primary: #f8f6f7;
}
button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
button:disabled:hover {
  opacity: 0.4;
  cursor: not-allowed;
}

/* .styled-scrollbar::-webkit-scrollbar {
  @apply lg:w-2 w-1 h-1;
}
.styled-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-[#cbd5e1] rounded-full;
} */

.blog-action {
  width: 100%;
  height: 100px;
  background: #4a90e2;
  border-radius: 100% 100% 0 0 / 100% 100% 0 0; /* top semicircle */
  position: absolute;
  left: 0;
  bottom: -50px; /* or top: 0; for inverted */
}

.rounded-pyramid {
  width: 100%;
  aspect-ratio: 1 / 1; /* keeps it proportional */
  background: #4a90e2;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  border-top-left-radius: 50% 40%;
  border-top-right-radius: 50% 40%;
}

.wave-div {
  height: 250px;
  /* clip-path: path("M0,200 Q250,250 500,200 L500,300 L0,300 Z"); */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 92%, 0 100%);
}

.no-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

.styled-scrollbar::-webkit-scrollbar {
  @apply lg:w-2 w-1 h-1;
}
.styled-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-(--primary-color)/30 rounded-full;
}

.floating-label {
  transform-origin: left top;
}
.floating-label-input:focus + .floating-label,
.floating-label-input:not(:placeholder-shown) + .floating-label {
  transform: translateY(-0.1rem) scale(0.55);
}

.parent.expand .left-nav {
  @apply lg:w-1/5 md:w-1/3 w-3/4 px-6;
  .nav-link {
    @apply justify-start w-full;
  }
  span {
    @apply inline-flex;
  }
}

.scrollbar-thin {
  scrollbar-width: thin;
}
.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}
.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #9f5f91;
}